# A huge collection of files to ignore in Git, covering the superset of tools we
# use at Inductiva. Based on the .gitignore templates from:
# https://github.com/github/gitignore

#############
### macOS ###
#############

# General
.DS_Store
.AppleDouble
.LSOverride

##########################
### Visual Studio Code ###
##########################

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

