# This workflow builds and pushes Docker images for the simulators that have
# been modified when a PR is done. 
# The first job detects the modified simulators. It inspects the repository to
# determine all the changed dockerfiles, using the github action changed-files.
# The second job uses the output of the first and runs with a matrix strategy,
# building and pushing the modified simulators to Docker Hub in parallel, each
# in its own job.
# If the running time of the workflow becomes a problem, it could be possible
# to incorporate caching of the Docker build process in the GitHub actions.
name: Build and push simulator Docker images
on:
  pull_request:

jobs:
  generate-simulator-matrix:
    runs-on: ubuntu-latest
    outputs:
      simulator-dockerfile-paths: ${{ steps.changed-dockerfiles.outputs.all_changed_files }}

    steps:
      # fetch-depth is set to 2 to ensure that the two last commits are
      # available to the script that will generate the simulator matrix.
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      # Example: https://github.com/tj-actions/changed-files/blob/main/.github/workflows/matrix-example.yml
      - name: Get all changed dockerfiles
        id: changed-dockerfiles
        uses: tj-actions/changed-files@v43
        with:
          matrix: true
          files: |
             simulators/**/*Dockerfile
      - name: Echo changed files
        run: |
          echo "all_changed_files=${{ steps.changed-dockerfiles.outputs.all_changed_files }}"

  publish-simulator-image:
    runs-on: ubuntu-latest
    needs: [generate-simulator-matrix]
    strategy:
      # If building one simulator fails, continue with the others anyway.
      fail-fast: false

      matrix:
        simulator-dockerfile-path: ${{ fromJSON(needs.generate-simulator-matrix.outputs.simulator-dockerfile-paths) }}

    outputs:
      simulator-name: ${{ steps.get-simulator-name.outputs.simulator-name }}

    steps:
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Checkout repository
        uses: actions/checkout@v3

      # Set name of the simulator as an output of the step, so that it can be
      # used later to tag the Docker image.
      - name: Get simulator name
        id: get-simulator-name
        run: |
          tmp=$(basename $(dirname $(dirname ${{ matrix.simulator-dockerfile-path }})))
          echo "simulator-name=$tmp" >> $GITHUB_OUTPUT
          cat $GITHUB_OUTPUT

      - name: Get simulator version
        id: get-simulator-version
        run: |
          tmp=$(dirname ${{ matrix.simulator-dockerfile-path }})
          echo "simulator-version=$(basename $tmp)" >> $GITHUB_OUTPUT
          cat $GITHUB_OUTPUT

      - name: Get simulator directory
        id: get-simulator-directory
        run: |
          echo "simulator-directory=$(dirname ${{ matrix.simulator-dockerfile-path }})" >> $GITHUB_OUTPUT

      - name: Set tag env
        id: set-tag-env
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "tag-env=''" >> $GITHUB_OUTPUT
          else
            echo "tag-env=_dev" >> $GITHUB_OUTPUT
          fi

      - name: Get Kutu revision
        id: get-kutu-revision
        run: |
          echo "kutu-revision=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
          echo "$(git rev-parse HEAD)"

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          tags: |
            inductiva/kutu:${{ steps.get-simulator-name.outputs.simulator-name }}_${{ steps.get-simulator-version.outputs.simulator-version }}${{ steps.set-tag-env.outputs.tag-env }}
          context: ${{ steps.get-simulator-directory.outputs.simulator-directory }}
          file: ${{ matrix.simulator-dockerfile-path }}
          push: true
          labels: |
            org.opencontainers.image.revision=${{ steps.get-kutu-revision.outputs.kutu-revision }}
            org.opencontainers.image.source=https://github.com/inductiva/kutu
            maintainer=Inductiva Research Labs <contact@inductiva.ai>
